html {
height:100%;
}

body {
font-family:roboto;
}

.pgbloc{
display:flex;
flex-direction:column;
height:100%;
flex-wrap:wrap;
}

/*.pgbloc div{
border:2px solid blue;
}*/

.pgbloc .one{
background-color:#1F2937;
height:500px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.pgbloc .two{
height:400px;
}
.pgbloc .three{
background-color:#E5E7EB;
height:400px;
}
.pgbloc .four{
height:400px;
}
.pgbloc .bottom{
background-color:#1F2937;
color:white;
height:80px;
}
.pgbloc button {
border-radius:8px;
}
.pgbloc .header {
background-color:#1F2037;
color:white;
display:flex;
height:60px;
}
  .header h3 {
  font-size:18px;
  text-align:center;
  }
  .header a {
  text-decoration:none;
  color:white;
  }
  .he1 h3{
  text-align:center;
  font-weight:#F9FAF8;
  font-size:24px;
  }



.one .logos {
text-align:left;
color:white;
display:flex;
flex-direction:row;
height:260px;
width:1000px;
/*border:1px solid white;*/
}
   .sign button {
   background-color:#3882F6;
   border:1px solid white;
   color:white;
   height:30px;
   width:90px;
   }
   .sign h1 {
   font-size:48px;
   font-weight:extra-bold;
   }

   .imager img{
   width:500px;
   height:260px;
   border-radius:10px;
   }

.logos div{
height:260px;
width:500px;
}


.pgbloc .bottom{
display:flex;
height:80px;
}

.header div{
height:80px;
flex:1;
/*border:2px solid red;*/
}
.header .he1{
flex:2;
}

.pgbloc .two{
display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;

/*new*/


}
.two .cards{
display:flex;
flex-direction:row;
justify-content:center;
gap:50px;
height:250px;
width:950px;

/*new*/


}
.cards div{
display:flex;
flex-direction:column;
height:230px;
width:140px;
/*border:1px solid black;*/
}
  .car .limg {
  border:3px solid #3882F6;
  height:130px;
  width:140px;
  border-radius:10px;
  }
  .car p {
  text-align:center;
  }
  .car img {
  height:130px;
  width:140px;
  border-radius:10px;
  }



.pgbloc .three{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.three .txt{
display:flex;
flex-wrap:wrap;
height:230px;
width:800px;
/*border: 1px solid green;*/
}
  .three .txt h2{
  text-align:center;
  font-size:36px;
  font-weight:250;
  font-style:italic;
  }
  .txt p {
  text-align:right;
  font-size:24px;
  font-weight:400;
  font-style:normal;
  }
 

.pgbloc .four {
color:white;
display:flex;
justify-content:center;
align-items:center;
}
.four .signup{
background-color:#3882F6;
display:flex;
flex-direction:row;
height:150px;
width:800px;
/*border: 1px solid black;*/
border-radius:9px;
}
   .signup .um{
   padding-left:5px;
   height:150px;
   flex:2;
   /*border: 1px solid white;*/
   }
   .signup .dois{
   display:flex;
   justify-content:center;
   align-items:center;
   height:150px;
   flex:1;
   /*border: 1px solid white;*/
   }
   .dois  button{
   background-color:#3882F6;
   border:1px solid white;
   color:white;
   height:30px;
   width:90px;
   }
.pgbloc .bottom{
display:flex;
justify-content:center;
align-items:center;
}
     .bottom div{
     /*border:1px solid white;*/
     }
