html {
height:100%;
}
.pgbloc{
display:flex;
flex-direction:column;
height:100%;
}

.pgbloc div{
border:2px solid blue;
}

.pgbloc .one{
background-color:#1F2937;
height:500px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.pgbloc .two{
height:400px;
}
.pgbloc .three{
background-color:#E5E7EB;
height:400px;
}
.pgbloc .four{
height:400px;
}
.pgbloc .bottom{
background-color:#1F2937;
color:white;
height:80px;
}

.pgbloc .header {
background-color:#1F2037;
color:white;
display:flex;
height:60px;
}
  .header h3 {
  font-weight:18px #E5E7EB;
  }
  .he1 h1{
  font-weight:48px extra-bold #F9FAF8;
  }



.one .logos {
color:white;
display:flex;
flex-direction:row;
height:260px;
width:1000px;
border:1px solid white;
}
.logos div{
height:260px;
width:500px;
}


.pgbloc .bottom{
display:flex;
height:80px;
}

.header div{
height:80px;
flex:1;
border:2px solid red;
}
.header .he1{
flex:2;
}

.pgbloc .two{
display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;
}
.two .cards{
display:flex;
flex-direction:row;
justify-content:center;
gap:50px;
height:250px;
width:950px;
border:1px solid green;
}
.cards div{
height:230px;
width:140px;
border:1px solid black;
}

.pgbloc .three{
display:flex;
justify-content:center;
align-items:center;
}
.three .txt{
display:flex;
flex-wrap:wrap;
height:180px;
width:800px;
border: 1px solid green;
}
  .txt h2{
  text-align:center;
  font-style:;
  }
.pgbloc .four {
color:white;
display:flex;
justify-content:center;
align-items:center;
}
.four .signup{
background-color:#3882F6;
display:flex;
flex-direction:row;
height:150px;
width:800px;
border: 1px solid black;
}
   .signup .um{
   height:150px;
   flex:2;
   border: 1px solid white;
   }
   .signup .dois{
   display:flex;
   justify-content:center;
   align-items:center;
   height:150px;
   flex:1;
   border: 1px solid white;
   }
   .dois  button{
   background-color:#3882F6;
   border:1px solid white;
   color:white;
   height:30px;
   width:90px;
   }
.pgbloc .bottom{
display:flex;
justify-content:center;
align-items:center;
}
     .bottom div{
     border:1px solid white;
     }
